.inline-block {
    display: inline-block;
    vertical-align:top;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    background-color: #000000;
    height: 10px;
    width: 100%;
}
nav {
    width: 100%;
    padding: 1%;
    background-color: #000000;
    text-align: right;
    color: #ffffff;
}
ul {
    width: 50%;
    display: inline-flex;
    vertical-align:top;
    justify-content: flex-end;
}
.casestudy ul {
    display: block;
    width: 100%;
}
li {
    padding-inline: 30px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.casestudy li {
    color: #000000;
}
li:hover {
    text-decoration: underline;
    color: #be5555;
}
.contact {
    padding-right: 40px;
}
.heroimg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #000000;
    margin-top: 275px;
    display: flex;
}
.brand {
    float: left;
    height: 50px;
    vertical-align: top;
    padding-left: 20px;
}
.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.footer {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.content {
    float: center;
    text-align: center;
    width: 65%;
}
.casestudy h1 {
    text-align: left;
    padding-top: 15px;
}
p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
button {
    border-radius: 50%;
    border: none;
    background-color: #000000;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 15px 32px;
    font-family: 'Karla', sans-serif;
    margin-top: 15px;
}
button:hover {
    background-color: #be5555;
}
.content a {
    text-decoration: none;
    color: #be5555;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #be5555;
    text-decoration: underline;
}
.active a {
    color: #be5555;
    text-decoration: none;
}
.flexcontainer {
    display: flex;
    flex-direction: row;
}
.flexcontainer div {
    width: inherit;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}
.flexcontainer img {
    height: 250px;
    width: 250px;
}
.workgrid {
    display: flex;
    float: center;
    justify-content: space-between;
    flex-direction: row;
}
.workgrid img {
    height: 250px;
    align-self: center;  
}
.madeleine {
    text-align: center;
    width: inherit;
    margin-left: 45px;
    margin-right: 45px;
}
.dol {
    text-align: center;
    width: inherit;
    margin-left: 45px;
    margin-right: 45px;
}
.spark {
    text-align: center;
    width: inherit;
    margin-left: 45px;
    margin-right: 45px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}
h2 {
    font-family: 'Montserrat';
    font-size: 24px;
}
h3 {
    font-family: 'Montserrat';
    font-size: 30px;
}
h4 {
    font-family: 'Montserrat';
    font-size: 24px;
}
.maininfo {
    width: inherit;
    margin-right: 45px;
    margin-left: 45px;
}
.hover:hover {
    text-decoration: none;
    color:#000000
}
.problemsolution {
    width: 200px;
}
.row {
    text-align: center;
    margin-top: 30px;
}
.row p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.affinity {
    width: 500px;
    text-align: center;
}
.persona {
    width: 500px;
    text-align: center;
}
.feature {
    width: 500px;
}
.feedback {
    width: 500px;
}
.prototype {
    text-align: center;
}
@media only screen and (max-width: 1240px) {
    .workgrid {
        flex-direction: column;
        float: center;
    }
    .madeleine {
        width: inherit;
        padding-bottom: 45px;
    }
    .dol {
        width: inherit;
        padding-bottom: 45px;
        padding-top: 45px;
    }
    .spark {
        width: inherit;
        padding-top: 45px;
    }
    .flexcontainer {
        flex-direction: column;
    }
    .flexcontainer div {
        width: inherit;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .workgrid div {
        width: inherit;
    }
}
@media only screen and (max-width: 1500px) {
    .col-md-8 {
        width: 100%;
    }
}